/* src/components/Header.module.css */
.header {
    background-color: #305279;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px; /* Thinner header */
    position: fixed;
    top: 0;
    left: 0; /* Make sure it spans all the way to the left */
    z-index: 10;
}

.logo {
    aspect-ratio: 3.17;
    object-fit: contain;
    object-position: center;
    width: 250px;
    max-width: 100%;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.menuLine {
    height: 2px;
    border: 2px solid #fff;
    margin-top: 4px;
}
