.welcomeMessage {
    margin-top: 15px; /* Reduced top margin */
    width: 581px; /* Scaled width */
    max-width: 100%;
    padding-bottom: 75.75px; /* Adjusted padding */
    color: #6ce5ff;
    text-align: center;
    font: 400 36px Inter, sans-serif; /* Reduced font size */
}

.header {
    background-color: #305279;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.5px 15px;
    height: 52.5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    aspect-ratio: 3.17;
    object-fit: contain;
    object-position: center;
    width: 187.5px;
    max-width: 100%;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.menuLine {
    height: 1.5px;
    border: 1.5px solid #fff;
    margin-top: 3px;
}

.lessonDate {
    font-weight: 700;
    font-size: 24px; /* Smaller font size */
    color: #000;
}

.scheduleContainer {
    display: flex;
    margin-top: 15px; /* Adjusted top margin */
    height: auto;
    width: 354px; /* Scaled width */
    max-width: 100%;
    flex-direction: column;
    font-family: Inter, sans-serif;
    font-weight: 700;
    text-align: center;
    justify-content: start;
}

.scheduleTitle {
    color: #6ce5ff;
    font-size: 24px; /* Scaled font size */
    align-self: center;
    margin-bottom: 0.75px; /* Reduced margin */
}

.viewCalendar {
    color: #000;
    font-size: 12px; /* Smaller font size */
    margin-top: 0;
    padding-top: 0;
}

.calendarContainer {
    width: 100%;
    max-width: 932px; /* Reduced max-width */
    height: 225px; /* Scaled height */
    border: 1px solid #ccc;
    margin-top: 15px;
    position: relative;
}

@media (max-width: 991px) {
    .header {
        padding: 7.5px 15px;
        height: 45px;
    }

    .logo {
        width: 135px;
    }

    .welcomeMessage {
        font-size: 30px;
        padding-bottom: 75px;
        margin-top: 15px;
    }

    .scheduleContainer {
        margin-top: 15px;
    }

    .scheduleTitle {
        font-size: 20px;
    }

    .calendarContainer {
        max-width: 90%;
        margin-top: 12px;
    }
}
